@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.SortResults {
  flex: 1 1 50%;
  @include flex(center, flex-start);
  flex-direction: column;

  h3 {
    width: 100%;
    color: $secondary;
    font-size: 1.5rem;
    padding-bottom: 10px;
  }

  .ButtonContainer {
    width: 100%;
    @include flex(center, flex-start);
    
    button {
      @include button($primary, auto);
      margin: 0 10px;
      font-size: 1rem;
      @include flex(center, center);

      svg {
        margin-left: 5px;
      }
    }
  }
}

@include media-sm {
  .SortResults {
    margin-top: 20px;
    width: 100%;

    .ButtonContainer {
      @include flex(center, flex-start);
      flex-wrap: wrap;

      button {
        @include button($primary, 35%);
        margin: 10px;
      }
    }
  }
}