@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.SearchResults {
  flex: 1 1 50%;
  @include flex(center, flex-start);

  .TypeSearch {
    flex-basis: 100%;

    h3 {
      color: $secondary;
      font-size: 1.5rem;
      padding-bottom: 10px;
    }

    select {
      width: 50%;
      padding: 5px;
      font-size: 1.2rem;
      outline: none;
      border-radius: 5px;
    }
  }
}